<div class="card overflow-hidden flex-auto  mb-5 sizecard">
    <h1 class="headline   text-4xl font-bold bg-red-100     text-primary-contrast m-0 flex items-center w-full max-w-xxxl mr-6">

        <span class="ml-4 block mb-5 mt-4">Bienvenido!</span>
    </h1>
<div class="card overflow-hidden flex-auto size mx-5 mb-5">
  
    <mat-dialog-content >
        <form [formGroup]="form" class="mx-5 mt-4 display">

        <mat-form-field class="w-50">
            <mat-label>Identificacion</mat-label>
            <input matInput formControlName="identificacion"  [readonly]="true" />
           
        </mat-form-field>
   
        <mat-form-field class="w-50">
            <mat-label>Nombres</mat-label>
            <input matInput formControlName="nombres" [disabled]="true" [readonly]="true" />
           
        </mat-form-field>
           
        <mat-form-field class="w-50">
            <mat-label>Fecha de nacimiento</mat-label>
            <input matInput formControlName="fechaNacimiento"[disabled]="true" [readonly]="true" />
           
        </mat-form-field>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-3" >

        <mat-form-field class="w-120" >
            <mat-label>Fecha de ultimo ingreso</mat-label>
            <input matInput formControlName="fechaIngreso"[disabled]="true" [readonly]="true"/>
         
        </mat-form-field>
        <button class="btn btn-outline-secondary w-40 h-50 mt-3 " (click)="Dialog()">
           
           <h5 class="headline   text-1xl font-bold bg-red-100  ">
            <i class="bi bi-clock-history"></i>
            <span> Ver registros...</span>
           
           </h5>
          
       
            </button>

        </div>






    </form>
        </mat-dialog-content>

</div>

</div>
