
<div class="w-full h-full login-fondo">
    <div class="login">
    <div class="avatar">
        <img src="assets/img/illustrations/Logo-Viamatica.png" alt="Logo Viamatica">

    </div>
    <h2>
        Iniciar sesion
    
    </h2>
    <h3>
        Bienvenido
    </h3>
    
    
    
    <form [formGroup]="form" class="login-form" (ngSubmit)="Login()">
    <mat-form-field  class="textbox">
    <mat-label >
        Credenciales
    </mat-label>
    <input matInput formControlName="credenciales" matTooltip="Usuario o Correo Electronico">
    <mat-error *ngIf="form.get('credenciales')?.hasError('required')">
    Campo Credencial es requerido
    </mat-error>
    </mat-form-field>
    
    <mat-form-field  class="textbox">
        <mat-label >
        Contraseña
        </mat-label>
        <input matInput formControlName="password" [type]="inputType">
        <mat-error *ngIf="form.get('password')?.hasError('required')">
        Campo Contraseña es requerido
        </mat-error>
    <button (click)="toggleVisibility()" mat-icon-button matSuffix matTooltip="{{!visible ? 'Ver contraseña':'Ocultar Contraseña'}}"
    type="button">
    <mat-icon *ngIf="visible" ></mat-icon>
    <mat-icon *ngIf="!visible" ></mat-icon>
    
    </button>
    
        </mat-form-field>
        <button type="submit" color="primary" mat-raised-button>
    Iniciar Sesion 
    </button>
    <mat-label >
        <a class="a underline" (click)="RecuperarContra()">Recuperar Contraseña...</a>
        </mat-label>
   
    </form>

    </div>
    </div>
    
    